* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mensajes de error */

.error {
  top: 0;
  width: 100%;
  background-color: red;
  color: white;
  display: flex;
  padding: 1rem;
  align-items: center;
}

.error p {
  flex-grow: 1;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App > main {
  flex-grow: 1;
}

.App > footer {
  padding: 1rem 0;
}
