body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/img/FondoHome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
  margin: 0;
  padding: 10px 3px 3px 3px;
  background-color: white;
}

.search {
  width: 20%;
  position: relative;
  display: flex;
  margin-top: 35px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #84047e;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #84047e;
}

.searchTerm:focus {
  color: #84047e;
  font-size: large;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 3px solid #84047e;
  background: #84047e;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  bottom: 0;
  flex: 0 0 auto;
  justify-content: center;
  position: absolute;
  height: 50px;
}

.btn-flotante {
  position: fixed;
  bottom: 5px;
  right: 40px;
}

.btn-flotante:hover {
  transform: translateY(-7px);
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  color: #84047e;
  text-align: center;
  margin-top: 30px;
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: 1000%;
  color: white;
  -webkit-text-stroke: 1px #84047e;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 200%;
  color: #84047e;
  text-align: center;
  margin-top: 30px;
}

h3 a {
  color: darkviolet;
}
