body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/img/FondoHome.jpg");
}

.btn-flotante {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.btn-flotante:hover {
  transform: translateY(-7px);
}

.search {
  background-color: darkorchid;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 800%;
  color: white;
  -webkit-text-stroke: 1px darkviolet;
  text-align: center;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  color: darkviolet;
  text-align: center;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 200%;
  color: purple;
  text-align: center;
}
