.mihistoria {
  margin: 0;
  padding: 0;
  padding-top: 200px;
  top: 0;
}

.myname {
  color: #84047e;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
}

.date {
  font-weight: bold;
  font-size: large;
}
