.AppBar {
  position: static;
  margin-right: 0 0 1rem;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.search {
  padding: 0.2em;
  height: 50%;
  position: absolute;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  color: purple;
  border-radius: 10px;
}

.root {
  flex-grow: 1;
  margin-right: 0 0 1rem;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.input {
  color: inherit;
  padding: 1, 1, 1, 0;
  width: 100%;
}
