.AppBar {
  position: static;
  margin: right 50px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  max-height: min-content;
}

.search input {
  padding: 10px;
  height: auto;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  border: 3px solid #84047e;
  margin-left: auto;
  width: 100%;
  border-radius: 5px 0 0 5px;
  margin-top: 35px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}
.search:focus {
  color: #84047e;
  font-size: large;
}
.random {
  padding: auto;
  display: block;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.root {
  flex-grow: 2;
  width: 100%;
  background-color: white;
  display: block;
  justify-content: space-between;
}

.loginregister {
  padding: auto;
  width: auto;
  display: flex;
  justify-content: right;
}
