.cajas {
  display: block;
  width: 525px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  margin: 40px;
  padding: 40px;
  float: right;
  text-align: center;
  border-radius: 10px;
  height: 160px;
}
.historias {
  display: block;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  margin: 40px;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
}
.story {
  display: block;
  width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  margin: 40px;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}
.name {
  text-align: center;
}
.bottom {
  background-color: white;
  color: white;
  border: 2px solid darkviolet;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: auto;
}

.bottom:hover {
  background-color: violet;
}
