.listahistorias {
  margin: 0;
  padding: 0;
  top: 0;
}

.historias {
  color: #84047e;
  text-decoration: none;
}

.createstory {
  background-color: #84047e;
  color: white;
  padding: 12px;
  width: 30%;
  border-radius: 15px;
  border: 1px solid #ccc;
  display: block;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}
